[2016-06-07 06:59] psicus78 opened #1 "Problems running on Ubuntu 14.04"
Hello,
I was trying to use you library on linux, more precisely I was trying to use BitmapImage class.
However I get an exception while initializing the image object:

[code]

We thought that the problem was with libgdi, however it looks like it's installed:

[code]

Could you please help me investigating the problem?

thanks.

[2016-06-07 11:46] qmfrederik commented on #1
Hi @psicus78 ,

Thanks for trying the library & creating an issue here!

It looks like the issue is because of the name of the gdiplist library -- [the P/Invoke definition for `GdipCreateBitmapFromFile`](https://github.com/qmfrederik/mono/blob/coreclr/system.drawing/mcs/class/System.Drawing/System.Drawing/gdipFunctions.cs#L1173) uses `gdiplus.dll` as a name, whereas I believe it should just be `gd

[2016-06-12 12:58] psicus78 commented on #1
Hi @qmfrederik ,
thanks for your reply.
I eventually found some time to try your solution and it works.
Replacing DllImport("gdiplus.dll") with DllImport("gdiplus") seems to work both in windows and ubuntu 14.04!!

It would be great if you could release a working version, however I can work with a local version of your library for now.

Thank you again for your help.

[2016-06-12 15:57] qmfrederik commented on #1
Hi @psicus78 ,

Sounds great, thanks! If you can, feel free to send me a PR for the changes, if not, can you let me know if the `[DllImport("gdiplus.dll")]` to `[DllImport("gdiplus")]` was the only change you had to make?

I hope to update the NuGet package next week, but no hard promises though.

[2016-06-14 23:02] qmfrederik commented on #1
I've updated the NuGet package (`1.0.0-beta005` has your fixes and now targets `netstandard1.3` instead of `netstandard1.5`).

Let me know if it works for you!

[2016-06-15 18:11] zparrish opened #2 "Error getting font handle"
I'm trying to use your library in order to update a separate PDF library to work with .NET Core and I've run into an issue with fonts, specifically getting a font handle. When calling ToHFont() on a Font object:

[code]

I receive the following error:

[code]

Any help you could provide would be greatly appreciated.

Thanks

[2016-06-15 20:01] qmfrederik commented on #2
Hi @zparrish,

Thanks for giving the library a try & sorry to hear you're running into trouble.

I would need to dive a bit deeper into this to provide a fix, it's probably related to how fonts are marshalled. I may have some time over the weekend to look into this.

In meanwhile, should you want to give it a try and troubleshoot it yourself, #1 has some instructions on how to compile from source.

[2016-06-16 15:35] psicus78 commented on #1
Works perfectly!
Thanks!

[2016-06-16 15:35] #1 closed

[2016-09-12 02:21] judypol opened #3 "Unable to load DLL 'gdiplus'"
Hi

I use the CoreCompat.System.Drawing in centOs7.1 and I  reference the runtime.linux-x64.CoreCompat.System.Drawing,then Get the Unable to load DLL 'gdiplus' error.

[2016-09-15 20:46] qmfrederik commented on #3
@judypol

This is probably because of a missing dependency on CentOS 7.1

Can you try to run your program with the `LD_DEBUG` variable set to `libs` and share the output?

E.g.:

[code]

Alternatively, you can try to build your own version of the `runtime.linux-x64.CoreCompat.System.Drawing` package by cloning this repository, navigating to the `native/runtime.linux-x64.CoreCompat.System.Drawing`

[2016-09-26 22:35] Emasoft opened #5 "Can you make this work on Xamarin.Forms?"
Having this working on Xamarin.Forms for iOS and Android, MacOs, etc. would be really awesome.

[2016-09-28 07:53] CAH-FlyChen commented on #3
after install  libgdiplus 。works fine。

[2016-09-28 08:19] JimSEOW opened #6 "Is there interest to support UWP?"
I wonder if there is sufficient interest to make System.Drawing available for UWP. For winform devleoper, this could ease the porting from winform to UWP. This would allow the developer to focus on non System.Drawing related code First and then porting the System.Drawing relevant parts to Windows.UI.

This may accelerate more porting of WinForm application to UWP App.

[2016-09-28 14:56] qmfrederik commented on #6
I don't see why this shouldn't work, as the library currently builds on .NET Core it should also build for UWP.

The tricky part may be to get `libgdiplus` to compile for UWP, haven't  looked into that.

Happy to accept a PR/answer questions related to UWP but don't think I'll work on it any time soon.

[2016-09-28 14:58] qmfrederik commented on #6
Just one more note:
- UWP should support netstandard2.0 (https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/)
- I plan to make the library compatible with netstandard2.0

The remaining challenge would be to get libgdiplus run on UWP.

[2016-09-28 14:59] qmfrederik commented on #5
It should work once netstandard2.0 is available: Xamarin should support netstandard2.0, and I plan to make the library compatible with netstandard2.0

The remaining challenge would be to get libgdiplus run on the Xamarin platforms.

[2016-09-28 15:38] JimSEOW commented on #6
Is this the [libgdiplus](https://github.com/mono/libgdiplus) source?

What you are doing is critical as part of the whole picture of cross platform UI. There are different projects which attempt to support this vision e.g. SkiaSharp (Vector graphics), Avalon (WPF XAML).

.NET Core is advertised as Cross-platform service. How to bridge this service and UI is currently evolving. Your library will de

[2016-09-28 15:43] JimSEOW commented on #5
We need to examine the use case to support Xamarin.Forms. For Windows phone, it is the same as supporting UWP for porting purpose, For Android and iOS, currently I could not see a good use case right now, perhaps someone could provide some relevant examples

[2016-09-29 08:11] qmfrederik commented on #6
Yes, that's the libgdiplus source, although I've [forked it to support compiling libgdiplus on OSX](https://github.com/CoreCompat/libgdiplus)

[2016-10-05 07:01] DeokJae commented on #3
I use the CoreCompat.System.Drawing in centOs7.1.
----------------------------------------------------------------------------------------------------------------
System.TypeInitializationException: The type initializer for 'System.Drawing.GDIPlus' threw an exception. ---> System.DllNotFoundException: Unable to load DLL 'gdiplus': The specified module could not be found.
 (Exception from HRESULT:

[2016-10-08 10:52] judypol commented on #3
@CAH-FlyChen can you help me install the libgdiplus in CentOS 7.1

thanks!

[2016-10-16 12:48] judypol commented on #3
@qmfrederik in centos7 I installed the libgdiplus,but I got the below error:
Unhandled Exception: System.TypeInitializationException: The type initializer for 'System.Drawing.GDIPlus' threw an exception. ---> System.DllNotFoundException: Unable to load DLL 'gdiplus': The specified module could not be found.
 (Exception from HRESULT: 0x8007007E)
   at System.Drawing.GDIPlus.GdiplusStartup(UInt64& t

[2016-10-23 16:05] tanaka-takayoshi commented on #3
Hello, I got the same error on Red Hat Enterprise Linux 7.2.

[2017-01-13 01:07] donnytang commented on #3
@judypol , I am got that error in CentOS too, have you find the way to resove it?

[2017-01-14 01:15] judypol commented on #3
@donnytang ,no ,I used this in Ubuntu14.04.it Ok.

[2017-02-03 19:59] jasonsturges commented on #3
Likewise on Mac OS X, libgdiplus not found

[code]

Unfortunate this requires a build of libgdiplus.so

[2017-02-03 21:00] jasonsturges opened #8 "Antialias of image bitmap using DotNet Core"
DotNet Core apps using CoreCompat's System.Drawing.Image do not appear antialiased on Mac.

Not entirely sure I'm aware of the internals; however, on Windows I believe this is using GDI+, whereas on Mac libgdiplus.dylib uses Cairo.

On PC, resizing an image looks great:

![resized-pc](https://cloud.githubusercontent.com/assets/1213591/22608122/a6f50020-ea20-11e6-9cde-420cb5f67c8f.png)

On Mac OS X

[2017-02-06 15:49] qmfrederik commented on #8
@jasonsturges I would need to check, I didn't run this kind of test yet.

If you are able to, could you try to run the same transformation using Mono on Mac and report back the results?

CoreCompat.System.Drawing is using the Mono code beneath the covers, so it would be interested to see if this issue is present in Mono as well, or whether it's related to how we compile libgdiplus.

[2017-02-06 15:51] qmfrederik commented on #3
@jasonsturges Can you try to add a reference to `runtime.osx.10.10-x64.CoreCompat.System.Drawing` (https://www.nuget.org/packages/runtime.osx.10.10-x64.CoreCompat.System.Drawing/1.0.1-beta004)? This should copy over the required dependencies for macOS.

That said, given the number of people reporting issues with this, I'll update the library to include the native libraries, too, once we ship a new

[2017-02-06 15:55] jasonsturges commented on #8
@qmfrederik Mono does have the same issue.  Root cause is libgdiplus; so, not really an issue with CoreCompat.

Sorry - thanks for the info.

[2017-02-07 12:05] pucis commented on #3
Had the same problem on CentOS 7.
In my case there was some problem with included libgdiplus.so
Solved by removing ./runtimes/linux-x64/native/libgdiplus.so
and repaced with link to system file:
` ln -s /usr/lib64/libgdiplus.so.0.0.0 ./runtimes/linux-x64/native/libgdiplus.so`

Used:
CoreCompat.System.Drawing 1.0.0-beta006
runtime.linux-x64.CoreCompat.System.Drawing 1.0.0-beta009

[2017-02-07 15:55] jasonsturges commented on #3
@qmfrederik It works perfectly with added reference:

[`runtime.osx.10.10-x64.CoreCompat.System.Drawing`](https://www.nuget.org/packages/runtime.osx.10.10-x64.CoreCompat.System.Drawing/1.0.1-beta004)

This also resolves my antialias problem with image resizing from issue #8

By the way, at runtime that library is displaying a warning: `Fontconfig error: Cannot load default config file`

[2017-02-07 16:01] jasonsturges commented on #8
This works perfectly by adding the reference:

- `runtime.osx.10.10-x64.CoreCompat.System.Drawing`
- https://www.nuget.org/packages/runtime.osx.10.10-x64.CoreCompat.System.Drawing/1.0.1-beta004

This resolves antialias issues, as well as dependency issues with libgdiplus on macOs.

[2017-02-07 16:01] #8 closed

[2017-02-10 14:43] ugumba commented on #3
I get the same error when running in a Docker for Windows container (running the default Hyper-V MobyLinux host).
Now, Docker reports the OSType as "linux", and I see that the native runtimes are present only in the "publish\runtimes\linux-x64" folder.  (That connection is a pure leap of faith - I'm treading deep waters here!)
I think I'll put Linux aside for the moment, and deploy to Nano Server

[2017-02-16 13:45] wcrooy commented on #8
@qmfrederik I've the same issue but then on linux with the linux native libs. (https://www.nuget.org/packages/runtime.linux-x64.CoreCompat.System.Drawing )
Anything which can be done about that?
Unfortunately I'm not able to directly test it with mono.

[2017-02-16 15:03] wcrooy opened #9 "Anti aliasing with core compat on with linux native libraries"
I have the same issue as: #8 But then on linux. When using the native linux nuget package. I get resized images where the images are not antialiased. On my pc (windows) it correctly resized.
Any help is much appreciated.

[2017-02-16 15:29] qmfrederik commented on #9
@wcrooy Which Linux distribution are you using?

[2017-02-16 15:47] wcrooy commented on #9
I'm using Amazon Linux. (AWS Lambda w .NET Core) it's comparable with Redhat as far as I know.

[2017-02-20 14:30] wcrooy commented on #9
@qmfrederik Do you have a bit more insight. What can be done. Or what I can do to resolve this issue?
BTW: For some reason the linux-x64 doesn't also get picked up by the dotnet build as well. So I manually copied them to the bin or publish directory.

[2017-03-05 21:54] qmfrederik commented on #9
@wcrooy Sorry for the late reply. Long story short, the rendering is done by GDI+. On Linux, System.Drawing uses the Mono implementation of GDI+: libgdiplus.

So if it works on Windows but does not work correclty on Linux, that's because on Windows you're using Microsoft's GDI+ and on Linux you're using Mono's libgdiplus (Yes, I know, Microsoft == Mono now but you get the idea).

The source code f

[2017-03-17 18:18] BogdanovKirill commented on #3
The problem is that core clr doesn't have dll mapping mechanism like MONO. So, look at here:
https://github.com/qmfrederik/mono/blob/ea0b1d6059e3fe1f7988c5a4689bf6431b0a3ad7/mcs/class/System.Drawing/System.Drawing/gdipFunctions.cs#L61
We always try to load "gdiplus.dll". Also I want to add that fix like "gdiplus" will not work. See discussion about dllmap:
https://github.com/dotnet/coreclr/issues/

[2017-03-17 18:59] qmfrederik commented on #3
That's not entirely correct, the branch from which System.Drawing is built has an updated [gdipFunctions.cs](https://github.com/qmfrederik/mono/blob/coreclr/system.drawing/mcs/class/System.Drawing/System.Drawing/gdipFunctions.cs) where the P/Invoke is done to `gdiplus`. This has also recently been changed in Mono.

So as long as you have `libgdiplus.so` in one of the paths set in the LD_LIBRARY_PA

[2017-03-17 19:00] qmfrederik commented on #3
Here's what it looks like in upstream Mono now : [gdipFunctions.cs](https://github.com/mono/mono/blob/master/mcs/class/System.Drawing/System.Drawing/gdipFunctions.cs)

[2017-03-17 19:22] BogdanovKirill commented on #3
Sorry, I was wrong. I've check it on Ubuntu and all is ok. The solution for docket is:
RUN apt-get update
RUN apt-get install -y libgdiplus
It seems to be ugly but now my programs works! Also in console i see that errors:
Unable to update the static FcBlanks: 0x0600
Unable to update the static FcBlanks: 0x0601
Unable to update the static FcBlanks: 0x0602
Unable to update the static FcBlanks: 0x060

[2017-04-02 02:09] cbright opened #10 "Cannot Create System.Drawing.Font to pass to Graphics.DrawString() on OS X"
I'm trying to draw text onto an image on OS X Sierra dotnet core 1.1. I cannot successfully create an instance of System.Drawing.Font.

[code]

I've tried various permutations which all result in the a similar error.

[code]

In the last, example as well as calling `FontFamily.GetFamilies()`, results in an empty array.

[2017-04-28 08:38] Howard-ThinkGeo commented on #10
I'm having the same issue. Is there any update?

[2017-05-12 10:14] anders9ustafsson opened #11 "Adopt to .NET Standard 2.0"
.NET Standard 2.0 Preview was released a few days ago. This new release has a substantially bigger API coverage, including `ICloneable` and even `System.Drawing.Color`, although most of the *System.Drawing* namespace is excluded for obvious reasons.

Would it be possible to prepare a .NET Standard 2.0 targeting library of CoreCompat that accounts for these name clashes?

[2017-05-12 16:02] qmfrederik commented on #11
Hi @anders9ustafsson

For .NET Standard 2.0 and .NET Core 2.0, I've prepared a new package (because of the API surface changes). Can you have a look at https://www.nuget.org/packages/CoreCompat.System.Drawing.v2 and let me know whether it works for you?

NOTE: For this version, we no longer ship libgdiplus with the NuGet package, so you'll need to make sure you've installed libgdiplus via your Lin

[2017-05-12 16:11] qmfrederik commented on #10
Hi guys,

If you can, can you give this a try on .NET Core 2.0 (preview) and the [CoreCompat.System.Drawing.v2](https://github.com/CoreCompat/System.Drawing) package?

[2017-05-12 16:13] qmfrederik commented on #2
Hi @zparrish

Almost a year later :), there's an updated version of System.Drawing for .NET Core which supports .NET Core 2.0 and I was wondering whether you could give this a try on .NET Core 2.0?

If so, please use the [CoreCompat.System.Drawing.v2](https://github.com/CoreCompat/System.Drawing) package and let me know how it goes.

Thanks!

[2017-05-12 16:14] Howard-ThinkGeo commented on #10
Sure, I will give it a shot later when I’m back to office. Let you know then.

Thanks,
Howard

From: Frederik Carlier [mailto:notifications@github.com]
Sent: Saturday, May 13, 2017 12:12 AM
To: CoreCompat/CoreCompat <CoreCompat@noreply.github.com>
Cc: Howard Chen <howardchen@thinkgeo.com>; Comment <comment@noreply.github.com>
Subject: Re: [CoreCompat/CoreCompat] Cannot Create System.Drawing.Font t

[2017-05-12 19:45] anders9ustafsson commented on #11
Many thanks! I will test it on my project and let you know how it turns out ASAP.

[2017-05-12 19:49] anders9ustafsson commented on #11
BTW, since I have your attention :-) Currently this package (.NET Std 1.3) is still in pre-release on NuGet. Are you planning to make an official release anytime soon?

[2017-05-12 21:43] qmfrederik commented on #11
The original plan was to mark the `netstandard1.3` package as stable when the packages that were required to make it compile on `netstandard1.3` were accepted in Mono.

The folks over at Mono are a bit reluctant to accept all the changes, as a lot of the changes are very specific to `netstandard1.x` and no longer required on `netstandard2.0`.

All the changes required to make System.Drawing compil

[2017-05-15 12:30] anders9ustafsson commented on #11
@qmfrederik With the v2 NuGet package my *System.Drawing* based .NET Standard 2.0 class library builds without errors. Hooray :-) Many thanks for your efforts with this and with the entire *CoreCompat* project!

[2017-05-16 19:46] qmfrederik commented on #11
Thanks! FYI, all pull requests except for one needed to get a single package which builds for both `netstandard2.0` and `netstandard1.6` have landed in Mono, so I'm hoping to update the `CoreCompat.System.Drawing` package soon.

[2017-05-29 23:28] VitoHanoi opened #12 "Library names Conflict"
Hi everyone,
I have a conflict with System.Drawing .NETStandard2.0 !
I got this error :

Error	CS0433	The type 'Bitmap' exists in both 'CoreCompat.System.Drawing, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' and 'System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"

Beginners as I am, i didn't manage to solve it even with adding alias name because nugget pac

[2017-05-30 12:52] qmfrederik commented on #12
Hi @VitoHanoi

For .NET Standard 2.0 and .NET Core 2.0, I've prepared a new package (because of the API surface changes). Can you have a look at https://www.nuget.org/packages/CoreCompat.System.Drawing.v2 and let me know whether it works for you?

NOTE: For this version, we no longer ship libgdiplus with the NuGet package, so you'll need to make sure you've installed libgdiplus via your Linux dist

[2017-05-30 20:16] VitoHanoi commented on #12
Hi @qmfrederik

Thank you for answer me but I was already using this prerelease. The problem is that to use it i have to write:
using System.Drawing (which already exists in .NetFramework4.6.1 and .NetStandard 2.0). So i was wandering how can you make it work when you are using these dependencies in your poject.

I thought I could use like : CoreCompat.System.Drawing but unfortunately, cant do tha

[2017-05-30 20:24] qmfrederik commented on #12
Hi @VitoHanoi

Can you please double check you are using `CoreCompat.System.Drawing.v2` and not `CoreCompat.System.Drawing` - note the v2 at the end?

The `.v2` package only includes the parts of `System.Drawing` which are not included in `netstandard2.0`,  so this should work just fine.

`System.Drawing.Bitmap` is not part of `netstandard2.0`, and it looks like you're having a conflict on `net4x`

[2017-05-30 21:42] VitoHanoi commented on #12
Hi,

Thank you, It helps, it helps. So, I added the reference on netstandard2.0 and netcore2.0. Now it is working !!! I think it was a conflict inside .NetFramework4.6.1

Yes  Im using the v2 as you can see here:
![core](https://cloud.githubusercontent.com/assets/16385289/26605346/b97165be-45e1-11e7-8e4b-46e1c725925a.png)

But How can i remove the reference to System.Drawing? If i rightclick there

[2017-05-31 01:48] VitoHanoi commented on #12
Yep, I had to restart Visual Studio and All good now :) Thank you again

[2017-05-31 01:48] #12 closed

[2017-06-08 09:40] VahidN commented on #11
I'm using the netstandard1.3 version of this library and now the .NET Standard 2.0 version doesn't provide the `ColorTranslator` anymore.
[code]
Please add these classes, because old(?!) codes can't be compiled anymore.

[2017-06-20 20:43] VitoHanoi opened #13 "Dicom to Bitmap"
Hi,
I have a project with .NET Framework which convert a DicomFile to a DicomImage. This DicomImage to a IImage and this IImage to a Bitmap with the function Bitmap myBitmap = IImage.As<Bitmap>().

It is working well but because we want to move with .Net Standard 2.0, I chose you CoreCompat.v2 library
And it isnt working anynmore. I have this exception :
Any ideas why and how can i solve the probl

[2017-07-11 16:26] iplitt commented on #3
I have the same problem when deploying an AWS Lambda function which uses the NuGet package "CoreCompat.System.Drawing": "1.0.0-beta006".  Is there another NuGet package which supports drawing graphics without resorting to GDI?

[2017-07-12 19:08] jasonsturges commented on #3
@iplitt Presumably you need to include the [Linux Native Libraries](https://www.nuget.org/packages/runtime.linux-x64.CoreCompat.System.Drawing/1.0.0-beta009) NuGet package?

    runtime.linux-x64.CoreCompat.System.Drawing -Version 1.0.0-beta009 -Pre

[2017-07-13 03:19] LPAMNijoel commented on #3
May I ask a quick question? is corecompact libs compatible with ARM processor? to deploy on the raspberry pi?

[2017-07-13 04:24] LPAMNijoel opened #14 "Compatibility with Raspberry Pi 3?"
May I ask a quick question? is corecompact libs compatible with ARM processor? to deploy on the raspberry pi?

[2017-07-13 16:29] qmfrederik commented on #3
@LPAMNijoel The package itself is CPU-independent, but it requires libgdiplus to be available which needs to be compiled for ARM.

Most ARM editions of Linux distributions include libgdiplus; so as long as you install libgdiplus all should be fine.

[2017-07-15 19:54] LPAMNijoel commented on #3
@qmfrederik  that makes sense. However, I did some googling and found out it's compatible with Debian(rasp OS) but not win IoT? see link -> https://pkgs.org/download/libgdiplus so, my main question now, is core-compact compatible with winIOT projects? the project I'm working on is a winIOT project, I'm using corecompact libs but, I failed to realize that this dll won't load on deployment to the pi

[2017-07-17 12:14] qmfrederik commented on #3
@LPAMNijoel I'm not that familiar with WinIOT, but does it include the `C:\Windows\System32\Gdiplus.dll` file? If so, you shouldn't need libgdiplus - that's just an implementation of gdiplus.dll for Linux and macOS.

Let me know if you have any issues running this on WinIOT; if so, please include the exception message and stack trace. Thanks!

[2017-08-08 13:52] xirsoi opened #15 "Have CoreCompat Selenium reference this package"
It's kinda silly to go through all the trouble of porting both packages but not have Selenium use this. I can't take screenshots due to a System.Drawing error.

[2017-08-08 13:54] xirsoi commented on #15
🤦‍♂️

Just read the thread on #3 and see that you plan to do this.

[2017-08-08 13:54] #15 closed

[2017-08-08 13:55] xirsoi commented on #3
Any chance getting this taken care of could be fast tracked? It's been almost 6 months since the issue was reported.

[2017-08-11 11:13] qmfrederik commented on #3
@xirsoi In most cases, installing libgdiplus from your Linux distribution should solve this issue.

That said, .NET Core will soon (I think it's planned for version 2.1) include a version of System.Drawing for .NET Core, so that would be the final fix for this.

[2017-08-11 14:23] xirsoi commented on #3
@qmfrederik Awesomesauce

[2017-08-31 07:55] #11 closed

[2017-08-31 15:41] callebjernekull opened #16 ""GDI+ status: InvalidParameter" when creating Bitmap from Stream"
I'm reading image-files from a blob and want to create them from the stream like this:
using (Stream stream = await blob.OpenReadAsync())
{
   bitmap = new Bitmap(stream);
}
This seems to work at this point, but I want to use this bitmap and draw it in another bitmap with graphics:
graphics.DrawImage(bitmap, destRect, 0, 0, bitmap.Width, bitmap.Height, GraphicsUnit.Pixel);

This will give me this

[2017-09-25 12:31] Ruslan-B opened #17 "License"
Hello,

Could you please specify license.

Cheers,
Ruslan

[2017-09-25 12:57] qmfrederik commented on #17
Thanks, I added a license file. Because this project is based off Mono's version of System.Drawing, I use the same license - MIT X11.

That said, if you're going to target .NET Core 2.0, please use [System.Drawing.Common](System.Drawing.Common/4.5.0-preview1-25718-03) instead - it will be the official System.Drawing for .NET Core.

[2017-09-25 13:17] Ruslan-B commented on #17
Thank a lot!

[2017-09-25 13:17] #17 closed

[2017-10-09 10:17] kdlslyv opened #18 "Double Types"
Hi,

not quite sure if it's an issue truly conerning this great library, but when using the Color Type ( Color.White e.g), I get the notorious error:

CS0433
The type 'Color' exists in both 'CoreCompat.System.Drawing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c0a7ed9c2333b592'
and 'System.Drawing.Primitives, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

[2017-10-09 12:58] qmfrederik commented on #18
Are you on .NET Core 2.0? If so, please give [System.Drawing.Common](https://www.nuget.org/packages/system.drawing.common/) a try; that should work better.

[2017-10-10 08:13] kdlslyv commented on #18
Thanks a bunch for that quick reply and solution, you were completely right.
However I suppose I cannot use System.Drawing.Common on unix systems.

[2017-10-26 03:44] hlubovac opened #19 "Error within System.Drawing.GDIPlus..cctor()"
Hi -

I'm not doing anything weird, I believe (trimmed):
[code]

Error stack:
[code]

Maybe it's assumed that I have something installed on my system. I'm actually running this within a docker container ([https://hub.docker.com/r/microsoft/dotnet/](url) >> "microsoft/dotnet:2.0-runtime"; I'm not exactly sure it it's Windows or Linux based), so I'm not able to get that whatever-dependency installed

[2017-10-26 04:36] hlubovac commented on #19
I'm not sure if I understand how your other project works ([https://github.com/CoreCompat/System.Drawing](url)), and whether I should be using that instead somehow?

[2017-11-07 09:46] avi-s commented on #16
Any updates on this issue?

I'm getting "A null reference or invalid value was found [GDI+ status: InvalidParameter]" upon saving a Bitmap.

Thanks

[2017-11-07 10:04] qmfrederik commented on #16
Can you check whether this works with the System.Drawing.Common NuGet package?

[2017-11-07 12:12] avi-s commented on #16
@qmfrederik Thanks a lot man.
I didn't know they have released that package. That solved the problem.

[2017-11-14 10:51] qmfrederik commented on #19
You should try to run `apt-get install libgdiplus` inside your Docker container. You can add something like:

[code]

to your `Dockerfile` and that'll install the native dependencies.

The NuGet packages contain libgdiplus for Ubuntu but not for Debian, hence they don't work in your container.

On a separate note, also give the `System.Drawing.Common` NuGet package a try, it's the official System.

[2017-11-14 10:55] qmfrederik commented on #18
@kdlslyv System.Drawing.Common is supported on Linux and macOS. Feel free to give it a try. You need to install libgdiplus, though - either via your Linux package manager or via `brew install mono-libgdiplus` on macOS.

[2017-11-14 15:51] hlubovac commented on #19
Thank you. I will give that a try. In the meantime, I shifted direction of what I was doing, so it'll take me a while to get back to it, but once I do, I'll report here what happens.

I'm curious, how did you conclude that I might be working on Debian? It's DSM from Synology, actually - but the reason I'm asking is to maybe conclude whether DSM is a customized Debian (not that that would change an

[2017-11-14 16:13] qmfrederik commented on #19
You mentioned the microsoft/dotnet:2.0-runtime Docker container, and I believe that's Debian-based. If you run your app in Docker, you'd need to install libgdiplus in your Docker container.

[2017-11-27 22:37] mythz commented on #3
I got this error when trying to use this package with the [microsoft/aspnetcore](https://hub.docker.com/r/microsoft/aspnetcore/) runtime Docker image that the ASP.NET team recommends in their [recommended multi-stage build](https://docs.microsoft.com/en-us/dotnet/core/docker/building-net-docker-images#your-first-aspnet-core-docker-app), installing `libgdiplus` didn't work, the solution was just to

[2017-11-29 12:05] kiksen1987 opened #20 "Color both in CoreCompat and System.Primitives"
I am creating an Image resizer in dotnet core and using this package, but When I try to clear the white color i get this:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0433	The type 'Color' exists in both 'CoreCompat.System.Drawing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c0a7ed9c2333b592' and 'System.Drawing.Primitives, Version=4.1.0.0, Culture=neutral, PublicKey

[2017-11-29 12:49] qmfrederik commented on #20
Please use [System.Drawing.Common](https://www.nuget.org/packages/System.Drawing.Common/4.5.0-preview1-25914-04) instead.

[2017-11-29 12:49] #20 closed

[2017-12-05 18:26] kresimirfijacko commented on #3
i have the same problem on centos
that 'runtime.linux-x64.CoreCompat.System.Drawing -Version 1.0.0-beta009 -Pre' is not working out of the box, but installing one locally on centos and then putting that one in 'runtimes/linux-64/native' instead of original one makes it work

now, how to make this parmanently so i don't have to deal with this on every deploy?
i tried putting it in one directory and

[2017-12-05 18:28] qmfrederik commented on #3
@kresimirfijacko It looks like long term (.NET Core is going to provide System.Drawing OOB) the recommendation will be for you to just install libgdiplus via yum on CentOS.

There are some glitches in the process that we're trying to iron out, hopefully this will be a smooth process in the near future.

[2017-12-06 09:37] kresimirfijacko commented on #3
@qmfrederik
Yes, that's what I did - i installed ligbdiplus via yum, but i need app to use that one instead of the one that gets installed in folder  'myAPP/runtimes/linux-64/native'
at the moment i'm doing this manually (by copying right one into that folder) , but i need some better way to handle this until .NET Core provides System.Drawing out-of-the-box

[2017-12-06 10:40] qmfrederik commented on #3
@kresimirfijacko Yes, you're right, at this moment you'd need to either symlink or copy the yum-provided files.

That said, did you try to use System.Drawing.Common? The latest version should work on CentOS.

[2017-12-06 14:15] kresimirfijacko commented on #3
@qmfrederik
i tried to use latest System.Drawing.Common but i can't install it since my library is targeting .NET Standard 1.6 (and it needs to be 2.0)

[2017-12-18 05:59] ikumshyamal commented on #3
You can resovle using this link....

https://en.code-bude.net/2017/05/08/net-core-gdiplus-dll-not-found-in-linux/comment-page-1/#comment-119157

[2017-12-22 21:08] aleGuardiola commented on #5
Any news with Xamarin.Android and Xamarin.IOS??

[2017-12-27 12:28] qmfrederik commented on #5
There's now a version of System.Drawing in the official .NET Core repositories (as System.Drawing.Common). It supports netstandard2.0 so I guess it also supports Xamarin, although I haven't tried.

I'm not planning to do additional work on System.Drawing here, but feel free to ask in the Xamarin/CoreFX repos.

[2017-12-27 12:28] #5 closed

[2017-12-27 12:29] qmfrederik commented on #14
Yes, the C# (managed) code runs on ARM as well (via .NET Core or Mono) and there are ARM versions of libgdiplus.

But you should really use System.Drawing.Common instead, that's the official version of System.Drawing for .NET Core.

[2017-12-27 12:29] #14 closed

[2017-12-27 12:30] qmfrederik commented on #6
For UWP support going forward, your best bet is to ask in the CoreFX repos where System.Drawing.Common is maintained - that's the official version of System.Drawing for .NET Core.

[2017-12-27 12:30] #6 closed

[2017-12-27 12:31] qmfrederik commented on #18
Closing this issue, please use System.Drawing.Common. We use it internally for macOS and Linux and haven't had any issues.
You can raise an issue at the CoreFX repo if it doesn't work for you on Mac and Linux.

[2017-12-27 12:31] #18 closed

[2018-01-22 07:27] AlirezaSalimi1 opened #21 "CoreCompat not work on windows based docker nano Server"
I`m using DNTCaptcha 1.4.2 which is using CoreCompat
my project is based on ASP Core 1.1 when i deploy the project on docker nano server (microsoft/aspnetcore:1.1.5-nanoserver-sac2016) i face with this exception and captcha image was not showing in project:

System.TypeInitializationException: The type initializer for 'System.Drawing.KnownColors' threw an exception. ---> System.TypeInitializationE

[2018-01-22 11:18] qmfrederik commented on #21
System.Drawing uses GDI+ as it's back-end. GDI+ is not available on Windows Nano server.
Your best bet as of now is to use either Server Core which I believe does include GDI+, or a Linux-based distribution.

If you're very adventurous, you can also try to compile libgdiplus (http://github.com/mono/libgdiplus) for Nano server but that's outside the scope of this project ;-)

[2018-01-22 14:59] AlirezaSalimi1 opened #22 "Wrong Text draw result for right to left languages in linux docker environment"
I`m using DNTCaptcha 1.4.2 Which uses CoreCampat.
in development environment which is windows it works fine,
in Linux docker environment after installing libgdiplus I get wrong result for Persian which is a right to left language but the result is left to right and characters are separated
the result in windows:
![photo_2018-01-22_18-25-11](https://user-images.githubusercontent.com/35662310/352268

[2018-01-22 15:20] qmfrederik commented on #22
Hi @AlirezaSalimi1, thanks for reporting this issue.

This is most likely an issue in libgdiplus itself. You can try to install the latest version of libgdiplus from the upstream repository (https://github.com/mono/libgdiplus).

If it still reproduces, your best bet is to create an issue in either https://github.com/mono/libgdiplus for libgdiplus or reproduce it with System.Drawing.Common and crea

[2018-01-23 07:58] Manojb86 opened #23 "The type 'Color' exists in both 'CoreCompat.System.Drawing, and 'System.Drawing.Primitives"
When I use the color type it gives the error as shown in the image. This is used in the .NET Core class Library.

![image](https://user-images.githubusercontent.com/6886753/35264083-586edb32-0041-11e8-9050-42c23b3e97cc.png)

[2018-01-23 10:23] qmfrederik commented on #23
Are you on .NET 2.x? If so, please try either System.Drawing.Common or CoreCompat.System.Drawing.v2

[2018-01-25 12:57] illusiz commented on #3
I'm having the same problem when debugging .Net Core 2 API on Windows docker container.

[2018-02-14 10:49] tudorserbanconnatix opened #24 "Unable to create Bitmap from disk file on Linux"
Hi, I'm referencing CoreCompat.System.Drawing.v2 from a .NET Core project and doing the following:

`Bitmap frame = new Bitmap($"{Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location)}\\images\\image_0.bmp")`

I've checked that the path is correct at runtime. On Windows this works fine, but on Debian I am getting:

Unable to update the static FcBlanks: 0x0600
Unable to update the static

[2018-02-14 10:52] qmfrederik commented on #24
If it fails with System.Drawing.Common, your best bet for now is to open an issue in https://github.com/dotnet/corefx.

Here are some things you can do to help:
- If possible, share a bitmap which exposes the behavior
- Use a recent version of libgdiplus (5.6 or later)
  * Either compile from source
  * If on Ubuntu, you can use my PPA: https://launchpad.net/~quamotion/+archive/ubuntu/ppa

[2018-02-14 11:07] tudorserbanconnatix commented on #24
Thanks for the quick reply!
I'm getting:

I can repro the issue with this image: [https://wallpaperscraft.com/image/stars_sky_shore_84534_1920x1080.jpg](https://wallpaperscraft.com/image/stars_sky_shore_84534_1920x1080.jpg) instead of my original bmp.

[2018-02-15 08:23] tudorserbanconnatix commented on #24
I'm such an idiot. I switched to using ImageSharp and it immediately revealed the problem: path not found, because I'm using Windows forward slashes '\' instead of '/'.

[2018-02-15 08:23] #24 closed

[2018-02-19 14:01] aseemgautam commented on #23
I am getting the same error on `Bitmap bitmap = new Bitmap(fs);`. Weird thing is that either `System.Drawing.Common` or `CoreCompat` namespaces are not available.

`CoreCompat.System.Drawing` and `runtime.osx.10.10-x64.CoreCompat.System.Drawing` packages have been added.

On OS X high sierra, using VS for mac.

[2018-02-19 14:48] qmfrederik commented on #23
@aseemgautam Please make sure you add a NuGet reference to the `System.Drawing.Common` NuGet package and remove the NuGet reference to the `CoreCompat.System.Drawing` NuGet package.

That should fix the collision

[2018-03-17 16:30] qmfrederik commented on #3
Hi everyone on this thread,

The long-term solution for this was dotnet/corefx#17135, but I learned today that this won't make it for .NET Core 2.1.

If you're using .NET Core and System.Drawing, would you mind voting for that issue (clicking the 'thumbs up' emoji at the issue description would o it)?

Thanks!

[2018-04-10 05:31] M90K7 commented on #23
Config .csproject
`  <Target Name="ChangeAliasesOfSystemDrawing" BeforeTargets="FindReferenceAssembliesForReferences;ResolveReferences">
    <ItemGroup>
      <ReferencePath Condition="'%(FileName)' == 'CoreCompat.System.Drawing'">
        <Aliases>CoreCompat</Aliases>
      </ReferencePath>
    </ItemGroup>
  </Target>`

Change C# Code:
`extern alias CoreCompat;
using System;
using System.Collect

[2018-04-10 09:48] qmfrederik commented on #23
@M90K7 I guess that will work as well, but your best bet (if possible) is still to use System.Drawing.Common instead of CoreCompat.System.Drawing.

PS: I edited your post to make the code a bit more readable.

[2018-04-27 09:09] meysamSamanpour commented on #11
I have installed the CoreCompat.System.Drawing.v2 and uninstalled the V1. but still I cannot build the project  because I will get same error that the Color exists in both CoreCompat.System.Drawing and in netstandard version 2. Do i miss something ?

[2018-04-27 11:55] qmfrederik commented on #11
Use [System.Drawing.Common](https://www.nuget.org/packages/System.Drawing.Common/) instead of CoreCompat.System.Drawing.

[2018-05-01 11:31] meysamSamanpour commented on #11
thanks for your reply. Now the ColorTranslator is not recognized. Anyone knows how can I have ColorTranslator in .net core 2?

[2018-05-16 20:01] TarasKovalenko commented on #10
The issue still present in the latest version:
[code]
[code]
Any idea how to fix that?

[2018-07-09 20:05] samboustani opened #25 "Does not build"
Error	CS2001	Source file 'C:\Users\Sam\Documents\Development\Downloads\CoreCompat-master\src\CoreCompat.System.Drawing\..\..\..\..\..\..\..\..\..\src\mono\mcs\build\common\Locale.cs' could not be found.	CoreCompat.System.Drawing(netstandard1.3)	C:\Users\Sam\Documents\Development\Downloads\CoreCompat-master\src\CoreCompat.System.Drawing\CSC	1	N/A
Error	CS2001	Source file 'C:\Users\Sam\Documents\Dev

[2018-07-17 10:06] qmfrederik commented on #25
CoreCompat.System.Drawing has been superseded by System.Drawing.Common.

Please use System.Drawing.Common. Thanks!

[2018-07-17 10:06] #25 closed

[2018-09-23 06:46] SaddamBInSyed commented on #16
@qmfrederik , Hi there, Could you please explain how it can solve the pbm? since I am facing the same issue while setting the image to my PictureBox in raspbian stretch using C# Mono.